body {
    background-color: #e7e7e7;
}

header {
    background-color: #999 !important;
}

#main {
    padding: 0 2rem 0 2rem;
}

.window-botlando {
    background-color: #FFFFFF44;
    position: fixed;
    left: 3rem;
    top: 15vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15%;
    z-index: 100;
    backdrop-filter: blur(5px);
}

#scrolldown-botlando {
    background-color: #FF994444;
    height: 8rem;
    width: 8rem;
    position: fixed;
    left: 3rem;
    bottom: 3rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    backdrop-filter: blur(5px);
    border-radius: 100px;
}

#scrolldown-botlando:hover {
    cursor: pointer;
}

.window-botlando button {
    background-color: transparent;
    border: .2rem solid black;
    padding: 1rem;
    margin: 1rem;
}