body {
    background-color: #e7e7e7;
}

header {
    background-color: #999 !important;
}

#main {
    padding: 0 2rem 0 2rem;
}

.window-botlando {
    /* background-color: #FF690030; */
    position: fixed;
    left: 3rem;
    top: 10vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15%;
    z-index: 100;
    backdrop-filter: blur(5px);
}

.window-botlando button {
    background-color: transparent;
    border: .2rem solid black;
    padding: 1rem;
}